<div class="max-w-3xl mx-auto mt-10">
  <h2 class="text-2xl font-semibold mb-4">Latest Posts</h2>
   @if(loading){
       <div class="text-gray-500">Loading posts...</div>
   }
   @if(error){
       <div class="text-red-500">{{ error }}</div>
   }
   @if(!loading && posts.length === 0){
       <div class="text-gray-400">
         No posts available.
       </div>
   }
@for(post of posts; track post.title){
    <div class="post-card border rounded-lg overflow-hidden shadow-sm mb-4">
      
      @if (post.featured_image_url) {
        <div class="h-48 w-full bg-cover bg-center" 
             [style.backgroundImage]="'url(' + post.featured_image_url + ')'">
        </div>
        <div class="p-4">
          <h2 class="text-xl font-bold">{{ post.title }}</h2>
          <p class="text-gray-600">Click to read more...</p>
        </div>
      } 
      
      @else {
        <div class="p-8 bg-blue-50 border-b-1">
          <h2 class="text-2xl font-serif font-bold text-blue-900">{{ post.title }}</h2>
          <span class="text-xs uppercase tracking-widest text-blue-500">Text Story</span>
        </div>
        <div class="p-4">
          <p class="text-gray-700 italic">"{{ post.content | slice:0:100 }}..."</p>
        </div>
      }

    </div>
}
</div>

<!-- 
<div class="post-card border rounded-lg overflow-hidden shadow-sm">
      
      @if (post.featured_image_url) {
        <div class="h-48 w-full bg-cover bg-center" 
             [style.backgroundImage]="'url(' + post.featured_image_url + ')'">
        </div>
        <div class="p-4">
          <h2 class="text-xl font-bold">{{ post.title }}</h2>
          <p class="text-gray-600">Click to read more...</p>
        </div>
      } 
      
      @else {
        <div class="p-8 bg-blue-50 border-b-4 border-blue-600">
          <h2 class="text-2xl font-serif font-bold text-blue-900">{{ post.title }}</h2>
          <span class="text-xs uppercase tracking-widest text-blue-500">Text Story</span>
        </div>
        <div class="p-4">
          <p class="text-gray-700 italic">"{{ post.content | slice:0:100 }}..."</p>
        </div>
      }

    </div> -->