@import "tailwindcss";
@import 'easymde/dist/easymde.min.css';

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

input:invalid,
textarea:invalid,
select:invalid {
  box-shadow: none !important;
  outline: none !important;
}


/* post-detail.css */
.markdown-container h1 { @apply text-3xl font-bold mb-4 mt-6; }
.markdown-container h2 { @apply text-2xl font-bold mb-3 mt-5; }
.markdown-container p { @apply mb-4 leading-relaxed text-gray-800; }
.markdown-container ul { @apply list-disc ml-6 mb-4; }
.markdown-container ol { @apply list-decimal ml-6 mb-4; }
.markdown-container img { @apply rounded-lg my-6 max-w-full h-auto; }
.markdown-container code { @apply bg-gray-100 px-1 rounded text-sm font-mono; }