<div class="flex items-center justify-between font-medium text-center text-gray-700 border-b border-gray-300 dark:text-gray-200 dark:border-gray-700">
  <ul class="flex flex-wrap -mb-px">
    <li class="me-2">
      <a href="#" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-blue-600 hover:border-blue-600">
        Home
      </a>
    </li>
    
    
  </ul>
  <div >
    <a href="#" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-blue-600 hover:border-blue-600">
        Create Post
      </a>
    <button (click)="logout()" class="p-4 border-b-2 border-transparent rounded-t-lg hover:text-blue-600 hover:border-blue-600">Logout</button>
  </div>
</div>
